@import url('https://fonts.googleapis.com/css?family=Marmelad|Open+Sans:400,600');

body
	padding-bottom: 100px
	//background: url("../img/bgall.png") center top no-repeat
	//background-size: 1920px
.in
	width: 1200px
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto

.header
	&__top-block
		display: flex
		margin-top: 10px
		border-top: 3px solid #e3a3cc
		border-bottom: 1px solid #f0f0f0
		justify-content: space-between
		position: relative
	&__top-menu
		ul
			display: flex
			li
				font-family: 'Open Sans'
				font-weight: 600
				font-size: 14px
				padding: 14px 4px 13px 23px
				&:first-child
					padding-left: 20px
					padding-right: 7px
				a
					font-family: 'Open Sans'
					font-size: 14px
				&.parent-elem:after
					border: 3px solid transparent
					content: ""
					display: inline-block
					height: 0
					width: 0
					border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0)
					border-top-width: 4px
					margin-left: 6px
	.right-bar
		display: flex
		position: absolute
		right: 0
		top: 0
		height: 46px
		input
			background: #fff url(../img/icons/loup.png) center left 9px no-repeat
			font-size: 14px
			padding-left: 35px
			padding-top: 2px
			&::-webkit-input-placeholder 
				color:#bababa
			&::-moz-placeholder          
				color:#bababa
			&:-moz-placeholder           
				color:#bababa
			&:-ms-input-placeholder      
				color:#bababa
	&__cart
		button
			height: 100%
			background: #e3a3cc
			padding: 0 10px 
			font: 16px/30px 'Open Sans'
			color: #fff
			span
				height: 30px
				width: 30px
				text-align: center
				background: #d093ba
				display: inline-block
				border-radius: 50%
				font: 18px/30px 'Open Sans'
				color: #fff
				padding: 0
				margin-left: 20px
			img
				margin-right: 10px
	&__search
		input
			width: 100px
			height: 100%
	&__info		
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #f0f0f0
		>div
			position: relative
		span
			font-family: 'Marmelad'
			font-size: 24px
		p
			color: #999
			font-family: 'Open Sans'
			font-size: 13px
	&__logo
		padding: 42px 0 39px
		margin-right: 50px
	&__delivery
		padding-right: 76px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/box.png") center no-repeat
			background-size: contain
	&__mobile
		padding-right: 71px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/mobile.png") center no-repeat
			background-size: contain
	&__whatsapp
		padding-right: 73px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/message.png") center no-repeat
			background-size: contain
	&__menu
		padding-right: 55px
		padding-left: 7px
		border-bottom: 1px solid #f0f0f0
		margin-bottom: 40px
		ul
			display: flex
			justify-content: space-between
			li
				font-family: 'Open Sans'
				font-size: 18px
				padding: 21px 20px 24px
				&:last-child
					padding-right: 0
				&:first-child
					padding-left: 27px
					padding-right: 13px
				a
					font-family: 'Open Sans'
					font-size: 18px
					text-decoration: none
					color: #000
					font-family: 'Marmelad'
				&.parent-elem:after
					border: 4px solid transparent
					content: ""
					display: inline-block
					height: 0
					width: 0
					position: relative
					top: 2px
					border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0)
					border-top-width: 6px
					margin-left: 6px
.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
.slider
	position: relative
	.slick-prev, .slick-next
		width: 50px
		height: 50px
		top: calc(50% - 25px)
		position: absolute
		z-index: 99
		border-radius: 50%
		font-size: 0
		background: #fff
	.slick-next
		right: 57px
		&:after
			border: 5px solid transparent
			content: ""
			display: inline-block
			height: 0
			width: 0
			position: relative
			left: 1px
			border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #b2b2b2
			border-left-width: 7px
			margin-left: 6px
			transition: all 0.3s
		&:hover:after
			left: 6px
	.slick-prev
		left: 55px		
		&:after
			border: 5px solid transparent
			content: ""
			display: inline-block
			height: 0
			width: 0
			position: relative
			left: 1px
			border-color: rgba(255, 212, 52, 0) #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) 
			border-right-width: 7px
			margin-right: 6px
			transition: all 0.3s
		&:hover:after
			left: -4px
	.slick-dots
		position: absolute
		left: 0
		bottom: 28px
		width: 100%
		text-align: center
		li
			display: inline-block
			margin: 10px
			button	
				font-size: 0
				height: 3px
				width: 88px
				background: rgba(255, 255, 255, 0.44)
				transition: all 0.3s
			&.slick-active
				button
					background: #fff