@import url('https://fonts.googleapis.com/css?family=Marmelad|Open+Sans:400,600');

body
	padding-bottom: 100px
	//background: url("../img/bgall.png") center top no-repeat
	background-size: 1920px
.in
	width: 1200px
	padding-left: 15px
	padding-right: 15px
	margin: 0 auto

.header
	&__top-block
		display: flex
		margin-top: 10px
		border-top: 3px solid #e3a3cc
		border-bottom: 1px solid #f0f0f0
		justify-content: space-between
		position: relative
		border-top-right-radius: 3px
	&__top-menu
		ul
			display: flex
			position: relative
			li
				font-family: 'Open Sans'
				font-weight: 400
				font-size: 14px
				padding: 14px 9.5px 13px 19px
				position: relative
				cursor: pointer
				a
					text-decoration: none
					color: #000
				&:hover>a 
					color: #e3a3cc
				&:first-child
					padding-left: 20px
					padding-right: 7px
				a, span
					font-family: 'Open Sans'
					font-size: 14px
					line-height: 14px
					display: inline-block
					transition: all 0.1s
					white-space: nowrap
				&.parent-elem:after
					border: 3px solid transparent
					content: ""
					display: inline-block
					height: 0
					width: 0
					border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0)
					border-top-width: 4px
					border-bottom-width: 0
					position: relative
					top: -2px					
					margin-left: 3px
					margin-right: 3px
					transition: all 0.3s
				&.parent-elem:hover:before					
					border: 4px solid transparent
					position: absolute
					bottom: 0
					left: calc(50% - 5px)
					content: ""
					display: block
					height: 0
					width: 0
					border-color: rgba(255, 212, 52, 0)  rgba(255, 212, 52, 0) #eaeaea
					border-bottom-width: 5px
				&.parent-elem:hover:after					
					-moz-transform: scale(1,-1)
					-webkit-transform: scale(1, -1)
					-o-transform: scale(1, -1)
					transform: scale(1, -1)
					filter: FlipV
					-ms-filter: "FlipV"
				.second-level
					a 
						div
							text-align: center
							width: 25px

	&__modal-cart
		position: absolute
		top: 62px
		right: 0
		background: #fff
		padding-top: 6px
		z-index: 999
		border-radius: 3px
		display: none
		&:after
			border: 7px solid transparent
			content: ""
			display: inline-block
			height: 0
			width: 0
			border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #fff 
			border-top-width: 0
			border-bottom-width: 7px
			position: absolute
			top: -7px			
			right: 19px
		ul
			li
				padding: 18px 131px 17px 25px
				position: relative
				display: flex
				border-bottom: 1px solid #ececec
				.remove-item
					position: absolute
					top: 27px
					font-size: 14px
					right: 19px
					color: #cacaca
					text-decoration: none
				&:first-child
					.remove-item
						top: 17px
				.cart
					&__text
						padding-left: 1px
						padding-top: 3px
						width: 185px
						>div
							display: flex
							align-items: center
						h3
							font: 16px/24px 'Open Sans', sans-serif
							color: #000
							margin-bottom: 16px
						input
							display: inline-block
							background: #f7f7f7
							width: 45px
							height: 30px
							border-radius: 3px
							border: 1px solid #e5e5e5
							text-align: center
							font-size: 14px
							padding: 0
						.cross
							color: #aeaeae
							font-size: 10px
							margin: 0 14px
					&__img
						img
							margin-right: 20px
					&__price
						font-size: 22px
						font-family: 'Marmelad'
						letter-spacing: 1px
		.cart
			&__footer
				background: url("../img/bg_cart.png") center no-repeat
				background-size: cover
				padding: 29px 30px 28px 18px
				text-align: center
				display: flex
				width: 461px
				align-items: center
				justify-content: center
				a
					background: #e3a3cc
					display: inline-block
					height: 50px
					width: 169px
					line-height: 50px
					color: #fff
					text-decoration: none
					font-weight: 600
					font-family: "Open Sans"
					img
						margin-right: 5px
				>span
					font-size: 18px
					font-family: 'Open Sans'
					display: inline-block
					border: 1px solid #e3a3cc
					height: 50px
					background: #fff
					line-height: 50px
					width: 169px
					span
						font-weight: 700


	.second-level, .third-level
		display: none
		flex-direction: column
		position: absolute
		top: 46px
		padding: 10px 0 8px
		left: 0
		z-index: 99
		background: #fff
		border: 1px solid #eaeaea
		min-width: 115px
		li
			display: block
			padding: 0
			&.active
				opacity: 0.5
			img 
				margin-right: 7px
				max-height: 14px
			&:first-child
				padding: 0
			a, span
				color: #000
				width: 100%
				padding: 7px 21px 9px 17px
				text-decoration: none
				display: flex
				align-items: center
				img
					height: auto
					max-width: 18px
			a
				span
					display: inline-block
					width: 18px
					height: 18px
					color: #fff
					background-color: #e3a3cc
					padding: 0
					line-height: 18px
					text-align: center
					margin-left: 10px
					border-radius: 50%
					font-size: 12px

	.right-bar
		display: flex
		position: absolute
		right: 0
		top: 0
		height: 46px
		input
			background: #fff url(../img/icons/loup.png) center left 9px no-repeat
			font-size: 14px
			padding-left: 35px
			padding-top: 2px
			position: relative
			z-index: 101px
			font-family: 'Open Sans'
			&::-webkit-input-placeholder 
				color:#bababa
			&::-moz-placeholder          
				color:#bababa
			&:-moz-placeholder           
				color:#bababa
			&:-ms-input-placeholder      
				color:#bababa
			&.open
				padding-left: 46px
				background: #fff url(../img/icons/loup.png) center left 20px no-repeat
	&__cart
		button
			height: 100%
			background: #e3a3cc
			padding: 0 10px 0 20px
			font: 16px/30px 'Open Sans'
			color: #fff
			border-bottom-right-radius: 3px
			span
				height: 30px
				width: 30px
				text-align: center
				background: #d093ba
				display: inline-block
				border-radius: 50%
				font: 18px/30px 'Open Sans'
				color: #fff
				padding: 0
				margin-left: 10px
			img
				margin-right: 10px
	&__search
		position: relative
		.clear-input
			position: absolute
			z-index: 105
			top: 14px
			right: 14px
			font-size: 14px
			cursor: pointer
			color: #cccccc	
			display: none
		input
			width: 100px
			transition: all 0.3s
			height: 100%
			z-index: 999
			position: relative
			&.open
				width: 597px
		.autosearch
			display: none
			position: absolute
			top: 46px
			left: 0
			width: 597px
			padding: 20px 20px 29px 46px
			z-index: 105
			background: #fff
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px
			p
				font-size: 12px
				line-height: 16px
				color: #b2b2b2
				font-family: "Open Sans"
				margin-bottom: 6px
			li
				a
					display: inline-block
					width: 100%
					font-size: 14px 
					line-height: 30px
					color: #bababa
					text-decoration: none
					font-family: 'Open Sans'
					span
						color: #000


	&__info		
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #f0f0f0
		>div
			position: relative
		span
			font-family: 'Marmelad'
			font-size: 24px
		p
			color: #999
			font-family: 'Open Sans'
			font-size: 13px
	&__logo
		padding: 42px 0 39px
		margin-right: 50px
	&__delivery
		padding-right: 76px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/box.png") center no-repeat
			background-size: contain
	&__mobile
		padding-right: 71px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/mobile.png") center no-repeat
			background-size: contain
	&__whatsapp
		padding-right: 73px
		padding-top: 49px
		&:before
			position: absolute
			content: ""
			height: 37px
			width: 37px
			left: -50px
			top: 55px
			display: block
			background: url("../img/icons/message.png") center no-repeat
			background-size: contain
	&__menu
		padding-right: 50px
		padding-left: 7px
		border-bottom: 1px solid #f0f0f0
		margin-bottom: 40px
		.second-level
			min-width: 200px
			top: 69px
			left: 50%
			padding: 18px 0 21px
			margin-left: -119px
			li
				a
					font-family: 'Open Sans'
					font-weight: 400
					font-size: 14px
					padding: 0 35px 0 27px
					position: relative
					cursor: pointer
					color: #000
				&:hover>a 
					color: #e3a3cc
				a, span
					font-family: 'Open Sans'
					font-size: 14px
					line-height: 30px
					display: inline-block
					transition: all 0.1s
					white-space: nowrap
			.third-level
				position: absolute
				top: -12px
				left: 90%
				display: none
			.parent-item
				position: relative
				&>a
					position: relative
					width: auto
					&:after
						border: 4px solid transparent
						content: ""
						display: inline-block
						height: 0
						width: 0
						position: relative
						top: 0
						border-color:  rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #eaeaea
						border-left-width: 6px
						border-right-width: 0
						margin-left: 10px	
					&:hover:after
						border-color:  rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #e3a3cc
		ul
			display: flex
			justify-content: space-between
			li
				font-family: 'Open Sans'
				font-size: 18px
				padding: 21px 20px 24px
				position: relative				
				&.active
					a
						color: #e3a3cc
				&:last-child
					padding-right: 0
				&:first-child
					padding-left: 27px
					padding-right: 17px
				a
					font-family: 'Open Sans'
					font-size: 18px
					text-decoration: none
					color: #000
					font-family: 'Marmelad'
				&.parent-elem
					&:after
						border: 4px solid transparent
						content: ""
						display: inline-block
						height: 0
						width: 0
						position: relative
						top: -2px
						border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0)
						border-top-width: 6px
						border-bottom-width: 0
						margin-left: 2px
						margin-right: 4px
						transition: all 0.3s	
					&:hover:before					
						border: 4px solid transparent
						position: absolute
						bottom: 0
						left: calc(50% - 5px)
						content: ""
						display: block
						height: 0
						width: 0
						border-color: rgba(255, 212, 52, 0)  rgba(255, 212, 52, 0) #eaeaea
						border-bottom-width: 5px			
				&.parent-elem:hover:after
					-moz-transform: scale(1,-1)
					-webkit-transform: scale(1, -1)
					-o-transform: scale(1, -1)
					transform: scale(1, -1)
					filter: FlipV
					-ms-filter: "FlipV"
.overflow
	background: rgba(0,0,0,0.2)
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	z-index: 103
	display: none
	opacity: 0
	transparent: all 1s

.overflow2
	background: rgba(0,0,0,0.1)
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh
	z-index: 100
	display: none
	opacity: 0
	transparent: all 1s

.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
.slider
	position: relative
	.slick-prev, .slick-next
		width: 50px
		height: 50px
		top: calc(50% - 25px)
		position: absolute
		z-index: 99
		border-radius: 50%
		font-size: 0
		background: #fff
	.slick-next
		right: 57px
		&:after
			border: 5px solid transparent
			content: ""
			display: inline-block
			height: 0
			width: 0
			position: relative
			left: 1px
			border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #b2b2b2
			border-left-width: 7px
			margin-left: 6px
			transition: all 0.3s
		&:hover:after
			left: 6px
	.slick-prev
		left: 55px		
		&:after
			border: 5px solid transparent
			content: ""
			display: inline-block
			height: 0
			width: 0
			position: relative
			left: 1px
			border-color: rgba(255, 212, 52, 0) #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) 
			border-right-width: 7px
			margin-right: 6px
			transition: all 0.3s
		&:hover:after
			left: -4px
	.slick-dots
		position: absolute
		left: 0
		bottom: 28px
		width: 100%
		text-align: center
		li
			display: inline-block
			margin: 10px
			button	
				font-size: 0
				height: 3px
				width: 88px
				background: rgba(255, 255, 255, 0.44)
				transition: all 0.3s
			&.slick-active
				button
					background: #fff