@import url("https://fonts.googleapis.com/css?family=Marmelad|Open+Sans:400,600");
body {
  padding-bottom: 100px;
  -webkit-background-size: 1920px 1920px;
  background-size: 1920px; }

.in {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.header__top-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  border-top: 3px solid #e3a3cc;
  border-bottom: 1px solid #f0f0f0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

.header__top-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .header__top-menu ul li {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    padding: 14px 9.5px 13px 19px;
    position: relative;
    cursor: pointer; }
    .header__top-menu ul li a {
      text-decoration: none;
      color: #000; }
    .header__top-menu ul li:hover > a {
      color: #e3a3cc; }
    .header__top-menu ul li:first-child {
      padding-left: 20px;
      padding-right: 7px; }
    .header__top-menu ul li a, .header__top-menu ul li span {
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      -webkit-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
      white-space: nowrap; }
    .header__top-menu ul li.parent-elem:after {
      border: 3px solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
      border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
      border-top-width: 4px;
      border-bottom-width: 0;
      position: relative;
      top: -2px;
      margin-left: 3px;
      margin-right: 3px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .header__top-menu ul li.parent-elem:hover:before {
      border: 4px solid transparent;
      position: absolute;
      bottom: 0;
      left: -webkit-calc(50% - 5px);
      left: calc(50% - 5px);
      content: "";
      display: block;
      height: 0;
      width: 0;
      border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #eaeaea;
      border-bottom-width: 5px; }
    .header__top-menu ul li.parent-elem:hover:after {
      -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
      transform: scale(1, -1);
      -webkit-filter: FlipV;
      filter: FlipV;
      -ms-filter: "FlipV"; }
    .header__top-menu ul li .second-level a div {
      text-align: center;
      width: 25px; }

.header__modal-cart {
  position: absolute;
  top: 62px;
  right: 0;
  background: #fff;
  padding-top: 6px;
  z-index: 999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none; }
  .header__modal-cart:after {
    border: 7px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #fff;
    border-top-width: 0;
    border-bottom-width: 7px;
    position: absolute;
    top: -7px;
    right: 19px; }
  .header__modal-cart ul li {
    padding: 18px 131px 17px 25px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ececec; }
    .header__modal-cart ul li .remove-item {
      position: absolute;
      top: 27px;
      font-size: 14px;
      right: 19px;
      color: #cacaca;
      text-decoration: none; }
    .header__modal-cart ul li:first-child .remove-item {
      top: 17px; }
    .header__modal-cart ul li .cart__text {
      padding-left: 1px;
      padding-top: 3px;
      width: 185px; }
      .header__modal-cart ul li .cart__text > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .header__modal-cart ul li .cart__text h3 {
        font: 16px/24px 'Open Sans', sans-serif;
        color: #000;
        margin-bottom: 16px; }
      .header__modal-cart ul li .cart__text input {
        display: inline-block;
        background: #f7f7f7;
        width: 45px;
        height: 30px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        text-align: center;
        font-size: 14px;
        padding: 0; }
      .header__modal-cart ul li .cart__text .cross {
        color: #aeaeae;
        font-size: 10px;
        margin: 0 14px; }
    .header__modal-cart ul li .cart__img img {
      margin-right: 20px; }
    .header__modal-cart ul li .cart__price {
      font-size: 22px;
      font-family: 'Marmelad';
      letter-spacing: 1px; }
  .header__modal-cart .cart__footer {
    background: url("../img/bg_cart.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 29px 30px 28px 18px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 461px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__modal-cart .cart__footer a {
      background: #e3a3cc;
      display: inline-block;
      height: 50px;
      width: 169px;
      line-height: 50px;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-family: "Open Sans"; }
      .header__modal-cart .cart__footer a img {
        margin-right: 5px; }
    .header__modal-cart .cart__footer > span {
      font-size: 18px;
      font-family: 'Open Sans';
      display: inline-block;
      border: 1px solid #e3a3cc;
      height: 50px;
      background: #fff;
      line-height: 50px;
      width: 169px; }
      .header__modal-cart .cart__footer > span span {
        font-weight: 700; }

.header .second-level, .header .third-level {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 46px;
  padding: 10px 0 8px;
  left: 0;
  z-index: 99;
  background: #fff;
  border: 1px solid #eaeaea;
  min-width: 115px; }
  .header .second-level li, .header .third-level li {
    display: block;
    padding: 0; }
    .header .second-level li.active, .header .third-level li.active {
      opacity: 0.5; }
    .header .second-level li img, .header .third-level li img {
      margin-right: 7px;
      max-height: 14px; }
    .header .second-level li:first-child, .header .third-level li:first-child {
      padding: 0; }
    .header .second-level li a, .header .second-level li span, .header .third-level li a, .header .third-level li span {
      color: #000;
      width: 100%;
      padding: 7px 21px 9px 17px;
      text-decoration: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .second-level li a img, .header .second-level li span img, .header .third-level li a img, .header .third-level li span img {
        height: auto;
        max-width: 18px; }
    .header .second-level li a span, .header .third-level li a span {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #fff;
      background-color: #e3a3cc;
      padding: 0;
      line-height: 18px;
      text-align: center;
      margin-left: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      font-size: 12px; }

.header .right-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 46px; }
  .header .right-bar input {
    background: #fff url(../img/icons/loup.png) center left 9px no-repeat;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 2px;
    position: relative;
    z-index: 101px;
    font-family: 'Open Sans'; }
    .header .right-bar input::-webkit-input-placeholder {
      color: #bababa; }
    .header .right-bar input::-moz-placeholder {
      color: #bababa; }
    .header .right-bar input:-moz-placeholder {
      color: #bababa; }
    .header .right-bar input:-ms-input-placeholder {
      color: #bababa; }
    .header .right-bar input.open {
      padding-left: 46px;
      background: #fff url(../img/icons/loup.png) center left 20px no-repeat; }

.header__cart button {
  height: 100%;
  background: #e3a3cc;
  padding: 0 10px 0 20px;
  font: 16px/30px 'Open Sans';
  color: #fff;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .header__cart button span {
    height: 30px;
    width: 30px;
    text-align: center;
    background: #d093ba;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font: 18px/30px 'Open Sans';
    color: #fff;
    padding: 0;
    margin-left: 10px; }
  .header__cart button img {
    margin-right: 10px; }

.header__search {
  position: relative; }
  .header__search .clear-input {
    position: absolute;
    z-index: 105;
    top: 14px;
    right: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #cccccc;
    display: none; }
  .header__search input {
    width: 100px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    z-index: 999;
    position: relative; }
    .header__search input.open {
      width: 597px; }
  .header__search .autosearch {
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    width: 597px;
    padding: 20px 20px 29px 46px;
    z-index: 105;
    background: #fff;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px; }
    .header__search .autosearch p {
      font-size: 12px;
      line-height: 16px;
      color: #b2b2b2;
      font-family: "Open Sans";
      margin-bottom: 6px; }
    .header__search .autosearch li a {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      line-height: 30px;
      color: #bababa;
      text-decoration: none;
      font-family: 'Open Sans'; }
      .header__search .autosearch li a span {
        color: #000; }

.header__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0; }
  .header__info > div {
    position: relative; }
  .header__info span {
    font-family: 'Marmelad';
    font-size: 24px; }
  .header__info p {
    color: #999;
    font-family: 'Open Sans';
    font-size: 13px; }

.header__logo {
  padding: 42px 0 39px;
  margin-right: 50px; }

.header__delivery {
  padding-right: 76px;
  padding-top: 49px; }
  .header__delivery:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: -50px;
    top: 55px;
    display: block;
    background: url("../img/icons/box.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.header__mobile {
  padding-right: 71px;
  padding-top: 49px; }
  .header__mobile:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: -50px;
    top: 55px;
    display: block;
    background: url("../img/icons/mobile.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.header__whatsapp {
  padding-right: 73px;
  padding-top: 49px; }
  .header__whatsapp:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: -50px;
    top: 55px;
    display: block;
    background: url("../img/icons/message.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.header__menu {
  padding-right: 50px;
  padding-left: 7px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 40px; }
  .header__menu .second-level {
    min-width: 200px;
    top: 69px;
    left: 50%;
    padding: 18px 0 21px;
    margin-left: -119px; }
    .header__menu .second-level li a {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      padding: 0 35px 0 27px;
      position: relative;
      cursor: pointer;
      color: #000; }
    .header__menu .second-level li:hover > a {
      color: #e3a3cc; }
    .header__menu .second-level li a, .header__menu .second-level li span {
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      -webkit-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
      white-space: nowrap; }
    .header__menu .second-level .third-level {
      position: absolute;
      top: -12px;
      left: 90%;
      display: none; }
    .header__menu .second-level .parent-item {
      position: relative; }
      .header__menu .second-level .parent-item > a {
        position: relative;
        width: auto; }
        .header__menu .second-level .parent-item > a:after {
          border: 4px solid transparent;
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          position: relative;
          top: 0;
          border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #eaeaea;
          border-left-width: 6px;
          border-right-width: 0;
          margin-left: 10px; }
        .header__menu .second-level .parent-item > a:hover:after {
          border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #e3a3cc; }
  .header__menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header__menu ul li {
      font-family: 'Open Sans';
      font-size: 18px;
      padding: 21px 20px 24px;
      position: relative; }
      .header__menu ul li.active a {
        color: #e3a3cc; }
      .header__menu ul li:last-child {
        padding-right: 0; }
      .header__menu ul li:first-child {
        padding-left: 27px;
        padding-right: 17px; }
      .header__menu ul li a {
        font-family: 'Open Sans';
        font-size: 18px;
        text-decoration: none;
        color: #000;
        font-family: 'Marmelad'; }
      .header__menu ul li.parent-elem:after {
        border: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        position: relative;
        top: -2px;
        border-color: #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
        border-top-width: 6px;
        border-bottom-width: 0;
        margin-left: 2px;
        margin-right: 4px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .header__menu ul li.parent-elem:hover:before {
        border: 4px solid transparent;
        position: absolute;
        bottom: 0;
        left: -webkit-calc(50% - 5px);
        left: calc(50% - 5px);
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #eaeaea;
        border-bottom-width: 5px; }
      .header__menu ul li.parent-elem:hover:after {
        -webkit-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
        -webkit-filter: FlipV;
        filter: FlipV;
        -ms-filter: "FlipV"; }

.overflow {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 103;
  display: none;
  opacity: 0;
  transparent: all 1s; }

.overflow2 {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  opacity: 0;
  transparent: all 1s; }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider {
  position: relative; }
  .slider .slick-prev, .slider .slick-next {
    width: 50px;
    height: 50px;
    top: -webkit-calc(50% - 25px);
    top: calc(50% - 25px);
    position: absolute;
    z-index: 99;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    background: #fff; }
  .slider .slick-next {
    right: 57px; }
    .slider .slick-next:after {
      border: 5px solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
      position: relative;
      left: 1px;
      border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #b2b2b2;
      border-left-width: 7px;
      margin-left: 6px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .slider .slick-next:hover:after {
      left: 6px; }
  .slider .slick-prev {
    left: 55px; }
    .slider .slick-prev:after {
      border: 5px solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
      position: relative;
      left: 1px;
      border-color: rgba(255, 212, 52, 0) #b2b2b2 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
      border-right-width: 7px;
      margin-right: 6px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .slider .slick-prev:hover:after {
      left: -4px; }
  .slider .slick-dots {
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 100%;
    text-align: center; }
    .slider .slick-dots li {
      display: inline-block;
      margin: 10px; }
      .slider .slick-dots li button {
        font-size: 0;
        height: 3px;
        width: 88px;
        background: rgba(255, 255, 255, 0.44);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      .slider .slick-dots li.slick-active button {
        background: #fff; }
